// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/

:root {
	--ion-color-mycolor: #68eede;
	--ion-color-mycolor-rgb: 104,238,222;
	--ion-color-mycolor-contrast: #000000;
	--ion-color-mycolor-contrast-rgb: 0,0,0;
	--ion-color-mycolor-shade: #5cd1c3;
	--ion-color-mycolor-tint: #77f0e1;
}
